In [1]:
import numpy as np
import pandas as pd

In [23]:
arr = np.array([3, 18, 21, 14, 29])
arr

array([ 3, 18, 21, 14, 29])

In [24]:
np.var(arr)  # выборочная дисперсия (sample variance)

73.2

In [25]:
np.quantile(arr, 0.25)
# https://numpy.org/doc/stable/reference/generated/numpy.quantile.html

14.0

In [26]:
np.quantile(arr, 0.75)

21.0

In [27]:
np.quantile(arr, 0.5)

18.0

# Descriptive statistics

In [1]:
import statistics
import pandas as pd

In [2]:
df = pd.read_csv('E:\Курсы, которые прохожу СЕЙЧАС\МГИМО - Основы анализа данных в Python\sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.530000,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

### major variables in dataframe

- **sleep**: sleep duration
- **totwrk**: work duration
- **age**: age in years
- **male**: value 1 for male and 0 for female
- **south**: whether person live in the south

In [3]:
df.shape, df.size  # 706 observations and 34 variables

((706, 34), 24004)

In [6]:
part_df = df[['sleep', 'totwrk', 'age', 'educ']]
part_df.head(n=6)  # we created part from our previous df

   sleep  totwrk  age  educ
0   3113    3438   32    12
1   2920    5020   31    14
2   2670    2815   44    17
3   3083    3786   30    12
4   3448    2580   64    14
5   4063    1205   41    12

In [7]:
part_df.describe()

             sleep       totwrk         age        educ
count   706.000000   706.000000  706.000000  706.000000
mean   3266.355524  2122.920680   38.815864   12.780453
std     444.413448   947.470123   11.342637    2.784702
min     755.000000     0.000000   23.000000    1.000000
25%    3015.000000  1553.500000   29.000000   12.000000
50%    3270.500000  2288.000000   36.000000   12.000000
75%    3532.250000  2691.750000   48.000000   16.000000
max    4695.000000  6415.000000   65.000000   17.000000

### covariance and correlation

In [8]:
part_df.cov()

                sleep         totwrk         age        educ
sleep   197503.313140 -135324.471051  455.553501 -117.572899
totwrk -135324.471051  897699.633416 -532.718173   86.023696
age        455.553501    -532.718173  128.655408   -8.396512
educ      -117.572899      86.023696   -8.396512    7.754568

In [12]:
part_df.corr().round(3)

        sleep  totwrk    age   educ
sleep   1.000  -0.321  0.090 -0.095
totwrk -0.321   1.000 -0.050  0.033
age     0.090  -0.050  1.000 -0.266
educ   -0.095   0.033 -0.266  1.000

### sample mean

In [13]:
part_df.mean().round(3)

sleep     3266.356
totwrk    2122.921
age         38.816
educ        12.780
dtype: float64

In [14]:
round(statistics.mean(df['sleep']), 2)
# stats mean just of 1d array

3266.36

### standard deviation

In [15]:
part_df.std().round(3)

sleep     444.413
totwrk    947.470
age        11.343
educ        2.785
dtype: float64

In [17]:
round(statistics.stdev(df['sleep']), 2)

444.41

**statistics** better use when work with 1 array

### median

In [18]:
part_df.median()

sleep     3270.5
totwrk    2288.0
age         36.0
educ        12.0
dtype: float64

In [19]:
statistics.median(df.sleep)

3270.5

### quantiles

In [20]:
part_df.quantile(q=0.25)

sleep     3015.0
totwrk    1553.5
age         29.0
educ        12.0
Name: 0.25, dtype: float64

In [21]:
part_df.quantile(q=0.75)

sleep     3532.25
totwrk    2691.75
age         48.00
educ        16.00
Name: 0.75, dtype: float64

In [24]:
statistics.quantiles(data=df.sleep, n=4)

[3015.0, 3270.5, 3533.75]

**statistics.quantiles** better use when want to find decile or percentile